@media screen and (max){
    
}
*{
    font-family: 
}

.nav_bar{
    height: 50px;
    border: 1px solid black;
    }
.home_logo{
    background-color: #C83333;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.accueil{
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-top: -52px;
    margin-left: 400px;
    display: flex;
    
}
.about{
    background-color: black;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-top: -52px;
    margin-left: 601px;
    display: flex;
}
.menu{
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-top: -52px;
    margin-left: 802px;
    display: flex;
}
.contact{
    background-color: black;
    width: 209px;
    height: 50px;
    border: 1px solid black;
    margin-top: -52px;
    margin-left: 1004px;
    display: flex;
}
.accueil_position{
    font-size: 25px;
    margin-left: 60px;
    padding-top: 10px;
}
.about_position{
    font-size: 25px;
    color: white;
    margin-left: 55px;
    padding-top: 10px;
}
.menu_position{
    font-size: 25px;
    margin-left: 69px;
    padding-top: 10px;
}
.contact_position{
    font-size: 25px;
    color: white;
    margin-left: 65px;
    padding-top: 10px;
}
.accueil_position a{
    color: black;
    text-decoration: none;
}
.about_position a{
    color: white;
    text-decoration: none;
}
.menu_position a{
    color: black;
    text-decoration: none;
}
.contact_position a{
    color: white;
    text-decoration: none;
}
.image_home{
    width: 250px;
    height: 40px;
    margin-left: 80px;
    margin-top: 5px;
}
.accueil_text{
    font-size: 60px;
    margin-top: 1000px;
    margin-left: 500px;

}
.home_img{
    width: 101%;
    height: 550px;
}
.text_on_image{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
}
.boat_img{
    width: 432px;
    height: 500px;
    margin-top: 100px;
    margin-left: 180px;
}
.home_title{
    margin-top: 650px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: black;
}
.image2inhome{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.text_part{
    height: 650px;
    width: 500px;
    margin-top: 100px;
    background-color: black;
}
.first_part{
    display: flex;
}
.title_in_black{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 50px;
}
.text_in_black{
    text-align: center;
    color: white;
    margin-top: 140px;
    margin-left: 50px;
    margin-right:50px;
    font-size: 20px;
}
.text_part2{
    height: 550px;
    width: 210px;
    margin-top: 200px;
    margin-left: 100px;
    background-color: black;
}
.title_in_black2{
    color: white;
    margin-top: 200px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    display: flex;
    align-self: center;

}
.text_part2{
    margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-between;
   align-items: center;
}
.button2{
    color: white;
    font-size: 20px;
    width: 150px;
    height: 50px;
    align-items: flex-end;
    background-color: #C83333;
    cursor: pointer;
    margin-bottom: 100%;
}
/*.botona{
    justify-content: center;
    display: flex;
    font-size: 20px;
    width: 150px;
    height: 50px;
    align-items: center;
    background-color: #C83333;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 32%;
    margin-top: 10%;
}
*/
.button{
    /*
    display: flex;
    color: #C83333;
    margin-left: 220px;
    margin-top: 150px;
    */
    margin-left: 190px;
    margin-top: 100px;
    background-color: #C83333;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.second_part{
    display: flex;
    justify-content: start;
    margin-top: 100px;
}
.plat1{
    margin-top: 50px;
    width: 265px;
    height: 550px;
}
.plat2{
    margin-top: 50px;
    width: 265px;
    height: 550px;
}
.plat3{
    margin-top: 50px;
    width: 265px;
    height: 550px;
}
.find_us{
    padding: 150px;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.text_part3{
    width: 500px;
    height: 500px;
    background-color: black;
    margin-left: 100px;

}
.text_in_black3{ 
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.third_part{
    display: flex;
    margin-top: 150px;
}
.maps{
    width: 506px;
    height: 500px;
}
.txt_title_about{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.body_about{
    background-color: #ECE9E9;
}
.about_blk_prt1{
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    background-color: black;
    width: 450px;
    height: 500px;
}
.txt_about_blk_prt1{
    justify-content: center;;
    color: white;
    font-size: 25px;
}
.store_img{
    margin-top: 20px;
    width: 400px;
    height: 450px;
}
.about_white_prt1{
    background-color: white;
    margin-top: 100px;
    width: 450px;
    height: 540px;
}
.prt1_about{
    display: flex;
}
.logo_about{
    margin-left: 125px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 200px;
    height: 50;

}
.txt_frst_prt_about{
    display: flex;
    margin-top: 10px;
    text-align: center;
}
.white_prt_txt_about2{
    width: 490px;
    height: 500px;
    background-color: white;
    margin-left: 100px;
}
.title_white_prt_about2{
    font-size: 30px;
    text-align: center;
    padding: 100px;
}
.txt_white_prt_about2{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.prt2_about{
    display: flex;
}
.blk_prt_img_about2{
    width: 450px;
    height: 500px;
    background-color: rgb(0, 0, 0);
}
.img_size_about{
    width: 400px;
    height: 500px;
    margin-left: 25px;
}
/* css coding aria*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, #bname , #cname{
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    
  }
  textarea{
    resize: none;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color:#C83333;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 20%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #818181;
  }
  .container{
    margin-top: 100px;
    margin-left: 400px;
  }
  .body_contact{
    background-color: #ECE9E9;

  }
  .nos_carte{
    font-size: 30px;
    margin-top: 100px;
    display: flex;
    margin-left: 525px;
  }
  .menu_box1{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-top: 300px;
    margin-left: 140px;
  }
  .menu_box2{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 300px;
  }
  .menu_box3{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-top: 300px;
  }
  .menu_box4{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-left: 140px;
  }
  .menu_box5{
    width: 300px;
    height: 300px;
    background-color: black;
  }
  .menu_box6{
    width: 300px;
    height: 300px;
    background-color: white;
  }
  .menu_box7{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: 140px;
  }
  .menu_box8{
    width: 300px;
    height: 300px;
    background-color: white;
  }
  .menu_box9{
    width: 300px;
    height: 300px;
    background-color: black;
  }
  .img_p1{
    margin-left: 50px;
    margin-top: 10px;
  }
  .title_p1{
    color: white;
    text-align: center;
  }
  .title_p2{
    color: black;
    text-align: center;
  }
  .p_list{
    display: flex;
  }
  .box_buy1{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 32%;
    background-color: #C83333;
    text-align: center;
  }
.buy1{
    margin-top: 100px;
    text-decoration: none;
    color: #000000;
}
.buy1_box{
    padding: 5px;
}
.body_menu{
    background-color: #ECE9E9;
}
.p_list2{
    display: flex;
}
#select{
    margin-top: 50px;
    margin-left: 300px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 700;
}
.footer p{
    font-size: 11px;
}
.icons .fa{
    color: black;
    margin : 0 13px;
    cursor: pointer;
    padding: 18px 0;
}